<?xml version="1.0" encoding="UTF-8"?>
<config>
    <general>
        <rootPath>~/Multimodal-Retrieve/</rootPath> 
        <algorithm>BLM</algorithm>
        <dataset>WIKI</dataset>  
        <direction>image-to-text</direction>
        <pca>0</pca> <!-- always with raw feature -->
        <image_feature>VGG19</image_feature>
    </general>
    <pascal>
        <numOfWords>399</numOfWords>
        <trainDataSize>2808</trainDataSize>
        <testDataSize>2841</testDataSize>
    </pascal>
    <wiki>
        <trainDataSize>2173</trainDataSize>
        <testDataSize>693</testDataSize>        
    </wiki>  
    <nuswide>
        <trainDataSize>10000</trainDataSize>
        <testDataSize>5000</testDataSize> 
    </nuswide>
</config>