<?xml version="1.0" encoding="UTF-8"?>
<config>
    <general>
        <rootPath>~/Multimodal-Retrieve/Multimodal-Retrieve-On-Wiki/</rootPath> 
        <algorithm>BLM</algorithm>
    </general>
    <train>
        <!-- MAX = 2808 -->
        <dataSize>2173</dataSize>
    </train>
    <test>
        <!-- MAX = 2841 -->
        <dataSize>693</dataSize>
    </test>
</config>